.body-container {
	border-radius: 0;
	margin: 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.8);
	height: 100vh;
}

.header-items {
	list-style: none;
}

.title {
	cursor: pointer;
	font-size: 1.2em;
}

.title:hover {
	color: rgba(255, 255, 255, 0.8);
}

.title:focus {
	outline: none;
}

.header-items li:not(:last-child) {
	padding-right: 10px;
	border-right: 1px dashed #aeaeae;
}

.header-items li[link]:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
}

.header-container {
	padding: 15px;
	background: #683e3e;
	color: #fff;
}

.content-container {
	margin-top: 25px;
	text-align: center;
}

.game-config-container {
	margin-top: 50px;
}

.info {
	margin-bottom: 25px;
	font-weight: bold;
}

.material-icons {
	margin-right: 10px;
}

.newgame-btn {
	margin-top: 4px;
	padding: 6px 10px 6px 10px;
}

.xyzzy-btn {
	margin-top: 10px;
	min-width: 1%;
	font-size: 0.8em;
	background: rgb(255, 0, 0, 0.5);
	color: #fff;
}

section {
	text-align: center;
}
.footer #button {
	width: 25px;
	height: 25px;
	border: #727172 8px solid;
	border-radius: 8x 8px 0 0;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.footer #button:hover {
	width: 25px;
	height: 25px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	position: relative;
}
.footer {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 2em;
	overflow: hidden;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	height: 6em;
}
.footer #container {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: #727172;
}
.footer #cont {
	position: relative;
	top: -45px;
	right: 190px;
	width: 150px;
	height: auto;
	margin: 0 auto;
}
.footer-center {
	width: 500px;
	float: left;
	text-align: center;
}
.footer-content {
	& a {
		text-decoration: none;
		color: #fff;
	}
	color: #fff;
	margin-top: 60px;
	margin-left: 30px;
}
