<mat-card class="body-container">
	<mat-card-header class="header-container" fxLayout="row">
		<span class="title" fxLayoutAlign="start center" routerLink="/">MINESWEEPER</span>
		<div fxFlex fxLayoutAlign="end center">
			<ul fxLayout fxLayoutGap="10px" class="header-items">
				<li>
					<span fxLayoutAlign="none center" style="text-transform: uppercase">
						<i class="material-icons">
							account_circle
						</i>
						{{(user | async)?.username}}
					</span>
				</li>
				<li link (click)="openRecords()" matTooltip="RESULTS HISTORY">
					<span fxLayoutAlign="none center">
						<i class="material-icons">
							whatshot
						</i>
						WINS: {{(user | async)?.wins}} | LOSTS: {{(user | async)?.losts}} 
					</span>
				</li>
				<li link routerLink="/login" matTooltip="LOGOUT">
					<span fxLayoutAlign="none center">
						<i class="material-icons">
							exit_to_app
						</i>
					</span>
				</li>
			</ul>
		</div>
	</mat-card-header>

	<mat-card-content class="content-container">
				<div fxLayout="column" class="info" fxLayoutAlign="center center">
						<span>There are {{gameService.bombsCount}} bombs</span>
						<span>Checked cells: {{gameService.checkedCells}}</span>
					</div>
					<div *ngFor="let set of gameService.area; let y = index">
						<app-game-area *ngFor="let item of set; let x = index" [x]="x" [y]="y" [checked]="item.checked" [marked]="item.marked" [hasBomb]="item.hasBomb" [showBombs]="showBombsFlag"
						 [neighbors]="item.neighbors"></app-game-area>
					</div>
			
					<button mat-button class="xyzzy-btn" [style.backgroundColor]="showBombsFlag ? 'rgb(255, 0, 0, 0.5)' :'rgb(0, 0, 0, 0.5)'" (click)="showBombs()" [disabled]="gameService.areaColumns > 10 || gameService.areaRows > 10">
						xyzzy
					</button>
					<div class="game-config-container" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
			
							<mat-form-field appearance="outline">
								<mat-label>COLS</mat-label>
								<input matInput type="number" name="columns" min="0" placeholder="Columns" [(ngModel)]="gameService.areaColumns">
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>ROWS</mat-label>
								<input matInput type="number" name="columns" min="0" placeholder="Columns" [(ngModel)]="gameService.areaRows">
							</mat-form-field>
							<mat-form-field appearance="outline">
									<mat-label>BOMBS</mat-label>
									<input matInput type="number" name="bombs" min="0" placeholder="Bombs" [(ngModel)]="gameService.bombsCount">
								</mat-form-field>
					
							<button mat-raised-button (click)="gameService.initializeArea()" color="accent" class="newgame-btn" [disabled]="gameService.areaColumns > 10 || gameService.areaRows > 10 || gameService.bombsCount < 1">
								<mat-icon>play_circle_outline</mat-icon> NEW GAME
							</button>
						</div>
	</mat-card-content>
		  <div class="footer">
			<div id="button">

			</div>
		  <div id="container">
		  <div id="cont">
		  <div class="footer-center">
				<div class="footer-content" fxLayout="column">
						<div>
							<a class="github-button" href="https://github.com/grynyk/minesweeper" aria-label="Follow @grynyk on GitHub">by @grynyk</a>
						</div>
						<div style="font-size:0.7em">
								©2019
						</div>
				</div>
		  </div>
		  </div>
		  </div>
		  </div>
</mat-card>